#land {
  text-align: center;
  height: 100vh;

  a {
    border: 1px solid #333;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    padding: 6px 12px;
    margin-top: 1em;
    display: inline-block;
  }
}